html {
  height: 100%;
}

body {
  margin: 25px;
  padding: 30px;
  height: 92%;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}
h1 {
  color: #ffffff;
  display: block;
  margin: 15px 60px;
  text-align: center;
  padding: 10px;
  font-family: "Orbitron";
  border-radius: 2px;
}

form {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
}

.city,
.temp,
.precip {
  font-weight: 600;
  font-family: "roboto";
}

.card-current {
  margin: 0 auto;
  border-radius: 5%;
  max-width: 600px;
}
.card-body {
  margin: 0 auto;
  border-radius: 5%;
  max-width: 1000px;
}

.col-1 {
  text-align: center;
  background-color: white;
  margin: 40px 0;
  display: block;
  width: 100%;
}

.row {
  justify-content: center;
}

p {
  font-size: 12px;
}

.git-rep {
  color: white;
  display: block;
  text-align: center;
}

.git-rep:hover {
  color: whitesmoke;
}

#forecast {
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.6;
}

.weather-forecast-temperature {
  padding: 10px;
  font-size: 13px;
  color: black;
}

.weather-temperature-max {
}

.weather-temperature-min {
  opacity: 0.6;
}
