html {
  height: 100%;
}

body {
  margin: 25px;
  padding: 30px;
  height: 92%;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}
h1 {
  color: #ffffff;
  display: block;
  margin: 15px 60px;
  text-align: center;
  padding: 10px;
  font-family: "Orbitron";
  border-radius: 2px;
}

form {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
}

.city,
.temp,
.precip {
  font-weight: 600;
  font-family: "roboto";
}

.card-current,
.card-body {
  margin: 0 auto;
  border-radius: 5%;
  max-width: 800px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  padding: 20px;
  text-align: center;
  background-color: white;
}

p {
  font-size: 12px;
}

.git-rep {
  color: white;
  display: block;
  text-align: center;
}

.git-rep:hover {
  color: whitesmoke;
}
